/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
a{
  text-decoration: none;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar{
  position: fixed;
  width: 100%;
  padding: 30px ;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px ;
  background: crimson;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: #ffffff;
}
.navbar .menu li a{
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px ;
  color: #ffffff;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color:crimson;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
/* home section styling */
.home{
  display: flex;
  background: no-repeat center/80% url("../img/iut.jpg");
  height: 100vh;
  background-size: cover;
  /*background-attachment: fixed;*/
  color: #ffffff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  margin: auto 0 auto 40px;
}
.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span{
  color: crimson;
  font-weight: 500;
}
